<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Steak</string>
	<key>uuid</key>
	<string>527FD1E5-0D80-4646-B874-D5D0041735BD</string>
</dict>
</plist>
